.cardHighlight {
  min-height: 100%;
  background-color: lightblue !important;
}

.aboutMe {
  min-height: 100%;
  background-image: url("http://fmechamber.org/wp-content/uploads/2017/06/light-blue-background-wallpaper-1.jpg");
  text-decoration-color: white;
  background-repeat: no-repeat;
  background-size: ;
  border-radius: 20px;
  padding-bottom: 0;
}

.bg{
  
 background: url("https://thumbs.dreamstime.com/b/retail-marketing-channels-e-commerce-shopping-automation-concept-blurred-supermarket-background-148800649.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}